{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beyond Borders</title>
        <link rel="icon" type="image/png" href="{% static 'Logo_favicon.png' %}">

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- Hero Section -->
        <section class="hero">
            <video autoplay muted playsinline>
            <source src="{% static 'firstpage_animated.mp4' %}" type="video/mp4">
            </video>

        </section>

        <section class="about">

            <h2>Your Journey to Studying Abroad Starts Here</h2>
            <hr>

            <p>
                Discover scholarships, compare universities,
                estimate costs, and receive personalized recommendations.
            </p>

        </section>



    </body>

    
</html>